<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158273871969-ad0kqjcajr6l51acnvn3q913a2bv28g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158273871969-ad0kqjcajr6l51acnvn3q913a2bv28g6</string>
	<key>API_KEY</key>
	<string>AIzaSyDc7NT1oXYdJ8RYIDWw1ogiHBekylzj7Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>158273871969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gray.PaySteps</string>
	<key>PROJECT_ID</key>
	<string>paysteps-1fc3e</string>
	<key>STORAGE_BUCKET</key>
	<string>paysteps-1fc3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158273871969:ios:23a1be1f3635b886c88a20</string>
	<key>DATABASE_URL</key>
	<string>https://paysteps-1fc3e.firebaseio.com</string>
</dict>
</plist>